*{
  margin: 0;
  top: 0;
}
body{
  background-color:rgb(151, 150, 150);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
App{
  display: flex;
  justify-content: center;
}
.container{
  background-color: rgb(194, 192, 191);
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  margin: 30px;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}
.search{
  text-align: center;
  margin: 5px 10px;
}
.search input{
  width: 460px;
  height: 40px;
  font-size: large;
  border-radius: 5px;
  background-color: azure;
}
.message-container{
  border-radius: 5px;
  padding-left: 5px;
  display: inline-flex;
  background-color: azure;
  align-items: center;
  margin: 5px 10px;
}
.message-container img{
  border-radius: 120%;
  width: 30px;
  height: 40px;
}
.section{
  display: flex;
  justify-content: space-between;
  width: 430px;
}
.message{
  margin-left: 10px;
}
.time{
  margin-right: 10px;
  padding-left: 5px;
  text-align: center;
}
.time i{
  color: rgb(0, 255, 115);
}